/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOUR PALETTE */
:root {
  --primary-colour: #5B84B1FF;
  --accent-colour: #FC766AFF;
  --background: #F0F0F0FF;
  --primary-text: #333333FF;
  --secondary-text: #666666FF;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
}

/* Header styles */
.jumbotron {
  background-color: var(--primary-colour);
  color: var(--background);
}

header {
  text-align: center;
}

h1 {
  font-weight: bold;
}

/* Team card styles */

.employee-card {
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  text-align: center;
}


/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
}

footer p {
  font-size: 12px;
  color: #999;
}
